    {{!-- <div class = 'container'> --}}
    <h1>Weather Getter</h1>
    <form action="/weather" method="POST" id='form'>
        <label for="location"></label>
        <input type="text" name='location' id='locationInput'>
        <input type="submit" value="submit">

        
    </form>
{{!-- </div> --}}